* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px 40px;
  width: 65%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

img {
  width: 70px;
  display: inline-block;
}

h1 {
  font-size: 26.5px;
}

p {
  margin: 3px 0;
  line-height: 1.5;
}

header a {
  position: absolute;
  top: 28px;
  right: 32%;
  text-decoration: none;
  outline: none;
  padding: 15px;
  background-color: #2975CA;
  border-radius: 3px;
  color: white;
}

header a:hover {
  background-color: #0942B0;
}

p.company {
  font-size: 17px;
}

small {
  color: gray;
}

h4.company {
  font-size: 23px;
  margin: 6px 0;
}

section p {
  margin: 10px 0;
}

ul {
  margin: 5px 30px;
}

li {
  margin-bottom: 3px;
}

fieldset {
  border: none;
  border-bottom: 1px solid rgba(182, 182, 182, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  background-color: rgba(242, 241, 241, 0.5);
  border-radius: 3px;
  padding: 30px 30px;
}

form h3 {
  width: 87%;
  font-size: 19px;
  display: inline-block;
  margin-bottom: 20px;
}

form p.required {
  display: inline;
  text-align: right;
  font-size: small;
}

sub {
  color: red;
  padding: 2px;
  padding-bottom: 5px;
}

fieldset#demographic p {
  margin: 10px 0;
  font-size: 13px;
}

dd input[type="text"] {
  padding: 2px 4px;
  width: 90%;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #cecece;
}

/* dd input[type="text"]:focus {
  border-color: white;
} */

#personal-info dt label {
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

#personal-info dd input {
  background-color: blue;
  display: inline-block;
  width: 40%
}